--extra-index-url https://download.pytorch.org/whl/cu128
torch>=2.6
torchaudio>=2.6
torchvision
numpy<2
scipy
h5py
librosa
soundfile
pyyaml
tqdm
scikit-learn
matplotlib
wandb
transformers>=4.40
huggingface_hub
trimesh
pyrender
imageio>=2.31
imageio-ffmpeg>=0.4.9
fastapi
uvicorn[standard]
nvidia-cuda-nvrtc-cu12
